.syllable-stressed {
    font-weight: bold;
}

.fragment {
	font-style: italic;
}

.wrong {
	background: #fee7e6; /* Wikimedia Red90 */
	border-radius: 0.5ex;
}

#analyse {
	display: none;
}

@media (prefers-reduced-motion: reduce) {
	#analyse {
		display: unset;
	}
}

#text {
	white-space: pre-wrap;
}

.show-syllable-breaks .syllable:not(:last-child) {
	border-right: 1px solid #a2a9b1; /* Wikimedia Base50 */
}
