.syllable-stressed {
    font-weight: bold;
}

.fragment {
	font-style: italic;
}

.wrong {
	background: #fee7e6; /* Wikimedia Red90 */
	border-radius: 0.5ex;
}

#analyse {
	display: none;
}

@media (prefers-reduced-motion: reduce) {
	#analyse {
		display: unset;
	}
}

#text {
	white-space: pre-wrap;
}
